body {
    background-image: url("img/pitchback.jpg");
}








.pitch {
    background-color: lightgreen;
    width: 1200px;
    height: 700px;
    margin: 40px auto 0px auto;
    position: relative;
    z-index: -1;
    border: 1px solid black;
}


.ball {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.6);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 340px;
    left: 593px;
    border: 1px solid white;
}

.player1 {
    background-color: gray;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.6);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 340px;
    left: 690px;
}

.player2 {
    background-color: purple;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.6);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 340px;
    left: 490px;

}
.goalleft {
    background-color: black;
    width: 5px;
    height: 60px;
    position: absolute;
    top: 320px;
    left: -2px;

}
.goalright {
    background-color: black;
    width: 5px;
    height: 60px;
    position: absolute;
    top: 320px;
    left: 1198px;

}
.scoreboard1 {
    position: absolute;
    top: 10px;
    left: -50px;
    font-size: 80px;
}

.scoreboard2 {
    position: absolute;
    top: 10px;
    left: 1210px;
    font-size: 80px;
}

.youwin {
    position: absolute;
    top: 200px;
    left: 315px;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 61, 0);
    font-style: italic;
    font: bolder;
}

.middleline {
    background-color: white;
    height: 700px;
    width: 3px;
    position: absolute;
    left: 600px;
}

.middlecircle {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 325px;
    left: 574px;
    border-radius: 50%;
    border: 3px solid white;

}

.torcircle-container-left {
    height: 210px;
    width: 110px;
    position: absolute;
    top: 245px;
    left: 0px;
    overflow: hidden;
}

.torcircleleft {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0px;
    left: -100px;
    border: 3px solid white;
    border-radius: 50%;
}

.torcircle-container-right {
    height: 210px;
    width: 100px;
    position: absolute;
    top: 245px;
    left: 1100px;   
    overflow: hidden;
}

.torcircleright {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 3px solid white;
    border-radius: 50%;
}